.about {
  padding-bottom: 120px;
  &__title {
    margin-bottom: 70px;
  }

  &__swiper {
    overflow: hidden;

  }

  &__slide {
    flex: 0 0 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //@media(min-width: 576px){
    //  flex: 0 0 200px;
    //}
    @media(min-width: 768px){
      flex: 0 0 255px;
    }
    @media(min-width: 1200px){
      flex: unset;
    }
  }

  &__img {

  }

  &__indent {
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #484848;
    margin: 14px 0 0;
    @media(max-width: 768px){
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__navigation {
    //position: absolute;
    //top: 0;
    //left: 0;
    //
    //width: 1200px;
    //margin-left: -10px;
    //
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
  }

  &__prev, &__next {
    position: absolute;

    width: 36px;
    height: 68px;

    background: #F3F3F3;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  &__prev{
    top: 25%;
    left: -45px;
    right: auto;
    transform: translateY(-25%);

    @media(max-width: 1250px){
      left: 10px;
      transform: translateY(-25%);

    }
  }
  &__next{
    top: 25%;
    right: -45px;
    left: auto;
    transform: translateY(-25%);
    @media(max-width: 1250px){
      right: 10px;
      transform: translateY(-25%);

    }
  }
}
.swiper-button-next, .swiper-button-prev{
  //background: #F3F3F3;
  //width: ;
}